[toolchain]
package_manager = "npm"
anchor_version = "0.31.0"

[features]
resolution = true
skip-lint = false
seeds = true

[programs.localnet]
localsolana_contracts = "D7KnbDFa85CwPbN5DzXKfPcKg5KNXRiQQMEoDTP4FRLe"

[programs.devnet]
localsolana_contracts = "D7KnbDFa85CwPbN5DzXKfPcKg5KNXRiQQMEoDTP4FRLe"

[registry]
url = "https://api.apr.dev"

[provider]
# cluster = "devnet"
# cluster = "https://distinguished-chaotic-bird.solana-devnet.quiknode.pro/483d675967ac17c1970a9b07fdba88abe17d421e/"
# wallet = "~/repos/ls-contracts-fixed/keys/devnet/program-keypair.json"

# Localnet
cluster = "http://127.0.0.1:8899"
wallet = "/home/george5492/.config/solana/id.json"

[test]
skip_deploy = true

[scripts]
# test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
